@{
    ViewData["Title"] = "UpdatePassword";
}
@model Account


<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: monospace, sans-serif;
    }

    .container {
        padding: 2rem;
    }

</style>

<div class="container">

    <h1 class="text-center text-primary">Change Admin Password</h1>
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-danger">Back</a>
    <hr>
    <form asp-action="UpdatePassword" method="POST">
        @if (TempData["UpdatePasswordStatus"] != null && (bool) TempData["UpdatePasswordStatus"])
        {
            <p class="text-success">@TempData["UpdatePasswordMessage"]</p>
        }
        else if (TempData["UpdatePasswordStatus"] != null && !(bool) TempData["UpdatePasswordStatus"])
        {
            <p class="text-danger">@TempData["UpdatePasswordMessage"]</p>
        }
        else {
            <p class="text-danger"></p>
        }
        <div class="form-group">
            <label for="Username">
                <b>Username</b>
            </label>
            <input type="text" asp-for="Username" class="form-control" readonly>
        </div>

        <div class="form-group">
            <label for="oldPassword">
                <b>Old Password</b>
            </label>
            <input type="password" name="oldPassword" id="oldPassword" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="newPassword">
                <b>New Password</b>
            </label>
            <input type="password" name="newPassword" id="newPassword" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="confirmPassword">
                <b>ConfirmPassword</b>
            </label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control">
        </div>

        <div class="form-group">
            <input type="reset" value="Cancel" class="btn btn-danger">
            <input type="submit" value="Confirm" class="btn btn-success">
        </div>

    </form>


</div>

<script>
    
    $(document).ready(function(){

        $("form").submit(function(e){

            let password = $("#newPassword").val();
            let confirm = $("#confirmPassword").val();

            if (password != confirm){
                $(this).find("p").text("Confirm password invalid...");
                e.preventDefault();
            }

        })

    })

</script>