* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monaco,Consolas,Lucida Console,monospace;;
}

body {
    background-color: #e0f7fa;
}

.container {
    margin-top: 50px;
    padding: 2rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.avatar-box {
    flex: 1;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-box img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 2px solid blue;
    border-radius: 100rem;
}

.table-bordered {
    flex: 1;
    border-radius: 10px;
}

h1 {
    color: var(--primary);
}