@model UniChatApplication.Models.TeacherProfile

@{
    ViewData["Title"] = "Teacher - Create";
}

<link rel="stylesheet" href="~/css/cssPlus/buttonPlus.css">
<link rel="stylesheet" href="~/css/TeacherManagement/StyleCreate.css">
<script src="~/js/FormValidator.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="main-control">
    <form asp-action="Create" method="POST" class="form" id="form-1">
        <h1 class="align-center heading text-primary">Create Teacher Account</h1>
        <hr>

        <div class="spacer"></div>
        <p class="text-danger">@ViewBag.Error</p>
        <!-- name = id = fullname -->
        <div class="form-group">
            <label for="fullname" class="form-label" required>Full Name</label>
            <input type="text" id="fullname" asp-for="FullName" placeholder="Ex: Nguyễn Văn A" class="form-control">
            <span class="form-message" asp-validation-for="FullName"></span>
        </div>

        <!-- name = id = email -->
        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" asp-for="Email" placeholder="Ex: email@utc.edu.vn" class="form-control">
            <span class="form-message" asp-validation-for="Email"></span>
        </div>

        <!-- name = id = teacherCode -->
        <div class="form-group">
            <label for="teacherCode" class="form-label">Teacher Code</label>
            <input type="text" id="teacherCode" asp-for="TeacherCode" placeholder="Ex: 00000519" class="form-control">
            <span class="form-message" asp-validation-for="TeacherCode"></span>
        </div>

        <!-- name = newGender -->
        <div class="form-group">
            <label class="form-label">Gender</label>
            <select asp-for="Gender">
                <option value="true">Male</option>
                <option value="false">Female</option>
            </select>
        </div>
        
        <!-- button submit -->
        <button type="submit" class="form-submit button-2">
            <i class="fa fa-check"></i>
            Add
        </button>
        <hr>

        <!-- button back to menu -->
        <a asp-action="Index" id="btn-cancel" class="button-3 text-decoration-none">
            <i class="fa fa-times"></i>
            Back to List
        </a>
    </form>

    <form action="CreateByFile" method="Post" class="form" enctype="multipart/form-data">
        <h1 class="heading">Input By File</h1>
        <hr>
        <div class="d-flex">
            <input type="file" accept=".xlsx" name="file" required>
            <input type="submit" class="px-3" value="Add">
        </div>
    </form>

</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        // Mong muốn của chúng ta
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#fullname', 'Please enter full name!'),
                Validator.maxLength('#fullname', 50),
                Validator.isName('#fullname', "Please enter only letters"),

                Validator.isRequired('#email', 'Please enter email!'),
                Validator.isEmail('#email'),

                Validator.isRequired('#teacherCode', 'Please enter teacher code!'),
                Validator.minLength('#teacherCode', 8, "Please only enter in the standard form 8 digits"),
                Validator.isTeacherCode('#teacherCode', '')

            ],
        });

    });

</script>



@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
