@{
    ViewData["Title"] = "UpdatePassword";
}
<link rel="stylesheet" href="~/css/StyleUserProfile/UpdatePass.css">

@model Account

<div class="form-container">
    <form asp-action="UpdatePassword" method="Post">
        <h1 class="text-center text-primary">Update Password</h1>
        <div class="form-group">
            @if(TempData["UpdatePasswordStatus"] != null) {
                @if ((bool) TempData["UpdatePasswordStatus"]){
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>@TempData["UpdatePasswordMessage"]</strong>
                    </div>
                }
                else {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>@TempData["UpdatePasswordMessage"]</strong>
                    </div>
                }
            }
        </div>
        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input class="form-control" type="password" name="oldPassword" id="oldPassword" maxlength="32" required>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input class="form-control" type="password" name="newPassword" id="newPassword" maxlength="32" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" maxlength="32" required>
        </div>

        <div class="form-group">
            <a asp-action="Index" class="button-3 text-white text-decoration-none">Back</a>
            <input type="submit" value="Update" class="button-1 text-white text-decoration-none">
        </div>

    </form>
</div>
