* {
    margin: 0;
    padding: 0;
    font-family: monaco,Consolas,Lucida Console,monospace;
}


/*Component 1*/
.background {
    background-image: url('backgrounLogin.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.text-box {
    color: black;
    background-color: white;
    padding: 5%;
    width: 90%;
    max-width: 560px;
    border: 1px black solid;
    border-radius: 1em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.text-box:hover{
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

input {
    padding: .5rem .8rem;
    border: 1px solid gray;
    border-radius: .5rem;
}


